body{
    background-color: #1d1d28;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: white;
}

.app{
    background-color: #282837;
    width: 500px;
    min-height: 250px;
    height: min-content;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0,0.75);
    display: flex;
    justify-content: space-evenly;
}

.question-section{
    width: 100%;
    position: relative;
}

.question-count{
    margin-bottom: 20px;
}

.question-count span{
     font-size: 28px;
}

.question-text{
    margin-bottom: 12px;
}


/* answer/right section */

.answer-section{
    width: 100%;
}

.option-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button{
 width: 100%;
 font-size: 16px;
 margin-top: 10px;
 color: #ffffff;
 background-color: #282837;
 border-radius: 15px;
 display: flex;
 padding: 5px;
 justify-content: flex-start;
 align-items: center;
 border: 5px solid #234668;
 cursor: pointer;
}

button:hover{
    background-color: #555e7d;
}

button:focus{
    outline: none;
}

button svg{
    margin-right: 5px;
}

.correct{
    background-color: #2f922f;
}

.Incorrect{
    background-color: rgb(207, 32, 32);
}

.actions{
    display: flex;
    margin-top: 15px;
}

.actions button{
    background-color: #3E6D9C;
    justify-content: center;
}

.actions button:hover{
    background-color: #234668;
    color:white
}

/* Responsive */

@media only screen and (max-width:600px) {
     .app{
        width: 300px;
     }
     .question-count span{
        font-size: 20px;
   }
   .question-text{
    font-size: 15px;
}
}